
.border-r{
    border-right: 1px solid rgb(230, 225, 225);
}
.border-b{
    border-bottom: 1px solid rgb(230, 225, 225);
}
.login-img-form-div{
    display: flex;
    flex-wrap: wrap;
}

.bg-img{
    background: #263238 no-repeat fixed center;
    /* background-image: url(./Login.png);
    background-image: url(./Login.png), linear-gradient(to left#ad272efd, #460909); */
}

.text-lightg{
    color:rgb(151, 144, 144) !important;
}
.btn-signin{
    border: 1px solid rgb(151, 144, 144);
    color:rgb(151, 144, 144);
    background: transparent;
}
.btn-signin,.signup-btn{
    font-size: 20px;
    width:200px;
    height: 60px;
    padding-top:12px !important;
    border-radius: 30px !important;
    font-family: 'Poppins',sans-serif;
    /* font-weight: 900; */
}
.signup-btn{
    border: 1px solid grey !important;
    color:black !important;
    background: transparent;
}


.btn-signin:hover{    
    background:rgb(255, 255, 255);
    color:#0f3ccf;
    border: 1px solid white;
}

.signup-btn:hover{
    background:#263238 !important;
    color: white !important;
    border: 1px solid #263238 !important;
}

@media screen and (max-width:600px){
    .login-img-form-div div {
        width: 100%;
        border:none !important;
    }
    .login-img-form-div{
        flex-direction: column-reverse;
    }
}