@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,900;1,700&display=swap');

.navbar-brand{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px !important;
}

.app-fn-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 70px;
}
.app-todo-message{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

*,::before,::after{
  box-sizing: border-box;
}

body{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.page-footer{
  padding-left: 0px;
  bottom: 0;
  color: #fff;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}

.font-small {
  font-size: .9rem;
}

.special-color-dark {
  background-color: #263238 !important;
  color: white;
}
.special-color-dark .navbar a{
  color: #fff !important;
}
.app-color{
  color: #263238 !important;
}
.nav-link-left{
  font-family: sans-serif;
  margin-right: 30px;
}
.nav-link-left:hover{
  text-decoration: none;
}

.pt-4, .py-4 {
  padding-top: 1.5rem !important;
}

.App {
  text-align: center;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
}

.color-white{
  color: white !important;
}

.navbar{
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

body,html{
  scroll-behavior: none;
}
.font-roboto{
  font-family: 'Roboto',sans-serif;
}
.text-bold{
  font-weight: bold;
}

.text-nobold{
  font-weight: lighter;
}
.text-grey{
  color: #cccccc;
  /* color:rgba(16, 16, 151, 0.671); */
}
.wrap-text{
  word-wrap: break-word;
}

/* .short-url-bg{
  background:center no-repeat url('../shortened-url.jpg'), #eeeeee 35% ;
} */

.font-80{
  font-size: 100px !important;
  color: rgba(0, 0, 255, 0.651);
}

.text-black{
  color: rgba(3, 3, 3, 0.822) !important;
}

.text-copied{
  position: fixed;
  bottom: 0 !important;
  z-index: 3;
}

.cancel-btn{
  position: absolute;
  right: 40px;
  top:20px;
}

@media screen and(max-width:600px){
  .input-100{
    border-bottom: 1px solid grey !important;
  }
}